<!DOCTYPE html>
<html class="html" ng:app="myApp">
  <head>

    <title>CritterDB</title>
    <link rel="icon" href="/assets/img/favicon.png">
    <meta name="viewport" content="width=device-width">

    <!--Google domain verification-->
    <meta name="google-site-verification" content="E_5OMvgMfMxd3WcKkVtSA6Nhu9MTFPbDsVs2kDQGtm8" />

    <!-- CSS -->
    <link rel="stylesheet" href='/assets/css/style.min.css' type="text/css">

    <!-- Font Files -->
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'
      rel='stylesheet' type='text/css'><!--For stat block-->
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:700'
      rel='stylesheet' type='text/css'><!--For stat block-->

    <!-- Icon Font Files -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Javascript -->
    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    
  </head>

  <body>

      <md-toolbar ng-controller="headerCtrl" class="header">
        <div class="md-toolbar-tools">
          <div ng-controller="userCtrl" layout="row" flex>
            <a class="logo-button" layout="row" layout-align="left center" ng-href="/">
              <md-icon class="logo-icon" ng-style="logoStyle" md-svg-icon="{{logoIconPath}}"></md-icon>
              <span class="logo md-toolbar-item md-breadcrumb md-headline">
                CritterDB
              </span>
            </a>
            <md-menu ng-show="getCurrentUser()">
              <md-button class="user-dropdown" aria-label="User menu" ng-click="$mdOpenMenu($event)">
                <span hide show-gt-sm>
                  {{getCurrentUser().username}}
                </span>
                <md-icon hide-gt-sm>person</md-icon>
                <md-icon>arrow_drop_down</md-icon>
              </md-button>
              <md-menu-content width="3" >
                <div hide-gt-sm>
                  <md-menu-item>
                    <md-button>
                      <div layout="row">
                        <p flex>{{getCurrentUser().username}}</p>
                      </div>
                    </md-button>
                  </md-menu-item>
                  <md-divider></md-divider>
                </div>
                <md-menu-item>
                  <md-button ng-click="goToChangePassword()">
                      <div layout="row">
                        <p flex>Change Password</p>
                      </div>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="logout()">
                      <div layout="row">
                        <p flex>Logout</p>
                      </div>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <md-button ng-if="!getCurrentUser()" class="user-dropdown" aria-label="Login" ng-click="goToLogin()">
              <span hide show-gt-sm>Login / Sign Up</span>
              <md-icon hide-gt-sm>person_outline</md-icon>
            </md-button>
          </div>
        </div>
      </md-toolbar>

      <div ng-view></div>

  </body>

</html>
