
@font-face {
  font-family: Norwester;
  src: url('/assets/fonts/norwester.ttf');
}

.login-area{
	text-align: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
}

.login-area md-toolbar {
  border-radius: 3px 3px 0px 0px;
}

.login-area md-content {
  border-radius: 0px 0px 3px 3px;
}

.login-area h2 {
  margin: auto auto;
  font-size: 36px;
  line-height:42px;
}
@media (min-width:801px) {
  .login-area {
    width: 450px;
    height: auto;
  }
  .login-area h2 {
    margin: 18px auto;
    font-size: 45px;
    line-height:64px;
  }
}
@media (min-height:0px) and (max-height:420px) {
  .login-area h2 {
    font-size: 28px;
    line-height:28px;
  }
}

section.login-area md-content.login-body{
  background-color: #ffffff;
}

.remove-saving-throw {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  transition: background 0.15s linear;
  display: inline-block;
}

.remove-saving-throw md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
  color: white;
  fill: white;
}

.remove-saving-throw:hover, .remove-saving-throw:focus {
  background: rgba(0, 0, 0, 0.2);
}

md-content.creature-clipboard {
  overflow-y: auto;
  overflow-x: hidden;
}

md-content.creature-clipboard .container {
  display: inline-block;
  position: relative;
  width: calc(100% - 16px);
  top: 0;
  overflow-y: auto;
}

md-content.creature-clipboard .action-bar {
  position: absolute;
  bottom: 0px;
}

md-content.creature-clipboard div.mini-statblock-item {
  position: relative;
}

md-content.creature-clipboard .remove-mini-statblock {
  position: absolute;
  right: -5px;
  top: 0px;
  width: 16px;
  height: 16px;
}

.md-icon-button div.counter {
  position: absolute;
  height: 16px;
  width: 16px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  background: rgb(255,110,64);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  top: 50%;
  left: 50%;
  color: white;
  padding-top: 2px;
  padding-left: 1px;
}

.fallingColumns {
  position: relative;
  -webkit-column-width: 341.375px;
  -moz-column-width: 341.375px;
  column-width: 341.375px;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto;
  padding: 3px 3px;
}

.fallingColumnsItem {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.stat-block-overlay {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.0);
  transition: background-color 0.25s ease-out;
}

.stat-block-overlay:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.25);
}

.stat-block-overlay:hover section.side-menu {
  background-color: rgba(0,0,0,0.70);
}

.stat-block-overlay section.side-menu {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 56px;
  height: 100%;
  background-color: rgba(0,0,0,0.0);
  transition: background-color 0.25s ease-out;
}
.stat-block-overlay section.side-menu button {
  min-width: 100%;
  padding: 6px 6px;
  margin: 0px 0px;
}

.stat-block-overlay section.side-menu button md-icon {
  color: #fff;
  transition: 0.10s ease-out all;
}

.stat-block-overlay section.side-menu button md-icon.disabled {
  color: rgba(255,255,255,0.26);
}

.stat-block-overlay section.secondary-menu {
  position: absolute;
  right: 56px;
  top: 0px;
  bottom: 0px;
  width: 200px;
  max-width: calc(100% - 56px);
  height: 100%;
  background-color: rgba(0,0,0,0.0);
  transition: 0.10s ease-out all;
}
.stat-block-overlay section.secondary-menu.ng-enter {
  width: 0px;
  opacity: 0;
}
.stat-block-overlay section.secondary-menu.ng-enter-active {
  width: 200px;
  opacity: 1.0;
}
.stat-block-overlay section.secondary-menu.ng-leave-active {
  width: 0px;
  opacity: 0;
}

.stat-block-overlay section.secondary-menu button {
  min-width: 100%;
  padding: 6px 6px;
  margin: 0px 0px;
  border-radius: 0px;
  color: #fff;
  text-align: right;
  transition: background-color 0.25s ease-out;
  background-color: rgba(0,0,0,0.50);
}
.stat-block-overlay section.secondary-menu button:hover {
  background-color: rgba(0,0,0,0.70);
}

.stat-block-overlay section.secondary-menu button md-icon {
  color: #fff;
  margin-left: 4px;
}

md-toolbar.inner-header {
  background-color: #fafafa;
}

md-toolbar.inner-header h2 {
  margin-left: 8px;
  max-width: calc(100% - 125px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

md-toolbar.inner-header span {
  color: #212121;
}

md-toolbar.inner-header div.controls {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

md-toolbar.inner-header div.right-side-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}
md-toolbar.inner-header div.right-side-controls button {
  margin-right: 2px;
  margin-left: 2px;
}

md-toolbar.inner-header button.main-button {
  position: fixed;
  right: 21px;
  bottom: 14px;
}

div.body-area {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 128px;
}

div.body-area md-content.background{
  height:100%;
}

div.body-area section.sidenav-wrapper {
  height:100%;
}

div.body-area section.content-section {
  width: 100%;
  max-width: 1200px;
}

div.body-area .content-section {
  background-color: #ffffff;
}

div.body-area md-card {
  width: 100%;
  max-width: 1200px;
  display: inline-block;
}

div.body-area md-card span.md-body-1 {
  max-height: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.body-area md-sidenav.bestiary-sidenav.md-locked-open {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0px;
}
@media (min-width:801px) {
  div.body-area md-sidenav.bestiary-sidenav.md-locked-open {
    width: 600px;
    left: 100%;
    position: static;
  }
}

div.body-area.no-inner-header {
  top: 64px;
}

div.body-area .create-creature-area {
  min-width: 100%;
  width: 100%;
}
@media (min-width:960px) {
  div.body-area .create-creature-area {
    width: 60%;
    min-width: 60%;
  }
}

.sidenav-wrapper md-backdrop.md-sidenav-backdrop {
  display: none;
}

md-sidenav.edit-sidenav md-input-container {
  margin-bottom: 0px;
  margin-top: 18px;
}

button.create-continue {
  margin-left: 0px;
  margin-top: 15px;
}

.stats-form section.subsection {
  background-color: #f7f7f7;
  border-radius: 3px;
  position: relative !important;
  padding-bottom: 10px;
}

.stats-form section.subsection div.controls {
  height: 50px;
  margin-top: 23px;
}
@media (min-width: 500px) {
  .stats-form section.subsection div.controls {
    margin-top: 0px;
  }
}

.stats-form section.subsection div.label {
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.64;
}

.stats-form section.subsection md-input-container.sub-number {
  position: absolute;
  top: -2px;
  right: 7px;
  width: 25%;
  font-size: 14px;
}

.stats-form section.subsection md-checkbox {
  margin: 18px 10px 0px 10px;
  /*background-color: rgba(0,0,0,0.075);*/
  border-radius: 4px;
  height: 40px;
  padding: 10px 10px;
  transition: background-color 0.4s ease-out;
}

.stats-form section.subsection md-checkbox:hover {
  background-color: rgba(0,0,0,0.075);
}

.stats-form section.subsection md-checkbox div.md-container {
  left: 10px;
}

.stats-form section.subsection button.remove-saving-throw {
  margin: 22px 8px 0px 6px;
}

.stats-form section.subsection div.saving-throw-row {
  width: 100%;
  height: 60px;
}

.stats-form section.subsection div.saving-throw-row div.move-controls {
  padding-top: 12px;
}

.stats-form section.subsection div.saving-throw-row div.move-controls button {
  width: 20px;
  height: 20px;
  min-height: 20px;
  padding: 0px;
}

.stats-form section.subsection div.saving-throw-row div.move-controls md-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

button.continue-button {
  float: right;
}

.defense-form md-chips-wrap {
  margin-top: 20px;
}

.header button.user-dropdown {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  min-width: 30px;
}

.header button.user-dropdown md-icon {
  margin-top: -3px;
}

.header a.logo-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header span.logo {
  margin-left: 6px;
  margin-right: 6px;
  font-family: Norwester, Sans-Serif;
  color: #fff;
}

.header md-icon.logo-icon {
  color: #fff;
  width: 36px;
  height: 36px;
  margin-top: -4px;
  margin-left: 0px;
  transition: margin-top .75s ease-out;
}

div.no-creatures-area {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

/* COLORS */
/*https://www.materialpalette.com/blue-grey/deep-orange*/
.bg-color-primary-dark {
  background-color: #455A64;
}
.bg-color-primary {
  background-color: #607D8B;
}
.bg-color-primary-light {
  background-color: #CFD8DC;
}
.bg-color-accent {
  background-color: #FF5722;
}
.bg-color-content {
  background-color: #FFFFFF;
}
.text-color-primary {
  color: #FFFFFF;
}
.text-color-secondary {
  color: #727272;
}
.text-color-content {
  color: #212121;
}
.bg-color-divider {
  background-color: #B6B6B6;
}

@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
  div.body-area {
    top: 112px;
  }
  div.body-area.no-inner-header {
    top: 56px;
  }
}
@media (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
  div.body-area {
    top: 96px;
  }
  div.body-area.no-inner-header {
    top: 48px;
  }
}

md-dialog.generate-attack-dialog form {
  /*width: 600px;
  max-width: 100%;*/
}

md-dialog.generate-attack-dialog md-checkbox {
  margin: 4px 4px 0px 1px;
}
@media (min-width: 460px) {
  md-dialog.generate-attack-dialog md-checkbox {
    margin: 8px 4px 0px 1px;
  }
}

md-dialog.generate-attack-dialog md-checkbox span {
    font-size: 12px;
}
@media (min-width: 350px) {
  md-dialog.generate-attack-dialog md-checkbox span {
    font-size: 14px;
  }
}
@media (min-width: 390px) {
  md-dialog.generate-attack-dialog md-checkbox span {
    font-size: 16px;
  }
}

div.save-image-stat-block {
  display: block;
}

.and-filter {
  background-color: rgba(207,216,220,0.20);
}

md-dialog-content.generate-spellcasting-content md-input-container {
  width: 450px;
}

md-dialog-content.generate-spellcasting-content div.sub-area {
  position: relative;
  background-color: #f7f7f7;
  margin: 8px;
  padding: 0px;
}

md-dialog-content.generate-spellcasting-content div.sub-area span.label {
  position: absolute;
  top: 0px;
  left: 6px;
  transform: matrix(0.75,0,0,0.75,0,6);
  transform-origin: 0px 0px;
  color: rgba(0,0,0,0.541176);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

md-dialog-content.generate-spellcasting-content md-input-container.per-day {
  width: 0px;
}

md-dialog-content.generate-spellcasting-content div.spell-row {
  margin-bottom: 22px;
}

md-dialog-content.generate-spellcasting-content div.spell-row:first-child {
  margin-top: -10px;
}

md-dialog.export-modal {
  width: 500px;
}

md-dialog.export-modal section.row {
  width: 100%;
}

md-dialog.export-modal md-input-container {
  width: 100%;
}

md-dialog.export-modal textarea {
  max-height: 400px;
}

div.body-area .published-bestiary-details h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin: 32px 0 18px 0;
}

div.body-area .published-bestiary-details span.caption {
  font-size: 12px;
  margin-left: 8px;
  color: #727272;
}

div.body-area .published-bestiary-details .action-bar {
  float: right;
  margin-top: -6px;
}

div.body-area .published-bestiary-details .action-bar button {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

div.body-area .published-bestiary-details .action-bar button.like md-icon {
  font-size: 23px;
  height: 23px;
  width: 23px;
}

.action-bar md-icon.liked {
  color: #ed4956;
}

.action-bar md-icon.favorite {
  color: #FFD700;
}

div.body-area .bestiary-card .action-bar md-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 20px;
}

md-menu.bestiary-list button.open-menu {
  text-transform: none;
  font-size: 20px;
  margin-left: 0;
  padding: 0 2px;
}

md-menu.bestiary-list button.open-menu md-icon.drop-down {
  line-height: 22px;
  width: 20px;
  margin-left: -4px;
}