
@font-face {
  font-family: Norwester;
  src: url('/assets/fonts/norwester.ttf');
}

.login-area{
	text-align: center;
  width: 450px;
  background-color: #ffffff;
  border-radius: 3px;
}

.login-area md-toolbar {
  border-radius: 3px 3px 0px 0px;
}

.login-area md-content {
  border-radius: 0px 0px 3px 3px;
}

section.login-area md-content.login-body{
  background-color: #ffffff;
}

.remove-saving-throw {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  transition: background 0.15s linear;
  display: inline-block;
}

.remove-saving-throw md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
  color: white;
  fill: white;
}

.remove-saving-throw:hover, .remove-saving-throw:focus {
  background: rgba(0, 0, 0, 0.2);
}

.fallingColumns {
  position: relative;
  -webkit-column-width: 341.375px;
  -moz-column-width: 341.375px;
  column-width: 341.375px;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto;
  margin: 0px 9.5px;
  width: calc(100% - 12px);
}

.fallingColumnsItem {
  -webkit-column-break-inside: avoid;
  -moz-column-inside: avoid;
  column-break-inside: avoid;
}

.stat-block-overlay {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.0);
  transition: background-color 0.25s ease-out;
}

.stat-block-overlay:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.25);
}

.stat-block-overlay:hover section.side-menu {
  background-color: rgba(0,0,0,0.45);
}

.stat-block-overlay section.side-menu {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 56px;
  height: 100%;
  padding: 6px 0px;
  background-color: rgba(0,0,0,0.0);
  transition: background-color 0.25s ease-out;
}
.stat-block-overlay .md-button.md-fab:hover {
  background-color: #fff;
}
.stat-block-overlay .md-button.md-fab {
  background-color: #fff;
}
.stat-block-overlay .md-button.md-fab md-icon {
  color: #777;
}

md-toolbar.inner-header {
  background-color: #fafafa;
}

md-toolbar.inner-header h2 {
  margin-left: 8px;
}

md-toolbar.inner-header span {
  color: #444;
}

md-toolbar.inner-header .md-button.md-fab:not(.selected):not(.main-button) {
  background-color: #fff;
  transition: background-color 0.4s ease-out;
}

md-toolbar.inner-header .md-button.md-fab:not(.selected):not(.main-button) md-icon {
  color: #777;
  transition: color 0.4s ease-out;
}

md-toolbar.inner-header div.controls {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

md-toolbar.inner-header button.main-button {
  position: absolute;
  right: 5%;
  bottom: -20px;
}

div.body-area {
  position: fixed;
  top: 128px;
  bottom: 0px;
  left: 0px;
  right: 0px;


  background-color: #f6f6f6;
}

div.body-area md-content.background{
  height:100%;
  background-color: #f6f6f6;
}

div.body-area section.sidenav-left-wrapper {
  height:100%;
}

div.body-area.no-inner-header {
  top: 64px;
}

div.body-area section.content-section {
  width: 100%;
  max-width: 1200px;
}

div.body-area .content-section {
  background-color: #ffffff;
}

div.body-area md-card {
  width: 100%;
  max-width: 1200px;
}

div.body-area md-sidenav.md-locked-open {
  width: 600px;
  max-width: 100%;
}

.sidenav-left-wrapper md-backdrop.md-sidenav-backdrop {
  display: none;
}

md-sidenav.edit-sidenav md-input-container {
  margin-bottom: 0px;
  margin-top: 18fpx;
}

button.create-continue {
  margin-left: 0px;
  margin-top: 15px;
}

.stats-form section.subsection {
  background-color: #f7f7f7;
  border-radius: 3px;
  position: relative !important;
  padding-bottom: 10px;
  padding-left: 10px;
}

.stats-form section.subsection div.label {
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.64;
}

.stats-form section.subsection md-checkbox {
  margin: 18px 10px 0px 10px;
  /*background-color: rgba(0,0,0,0.075);*/
  border-radius: 4px;
  height: 40px;
  padding: 10px 10px;
  transition: background-color 0.4s ease-out;
}

.stats-form section.subsection md-checkbox:hover {
  background-color: rgba(0,0,0,0.075);
}

.stats-form section.subsection md-checkbox div.md-container {
  left: 10px;
}

.stats-form section.subsection button.remove-saving-throw {
  margin: 25px 8px 0px 6px;
}

.stats-form section.subsection div.saving-throw-row {
  width: 100%;
  height: 60px;
}

button.continue-button {
  float: right;
}

.defense-form md-chips-wrap {
  margin-top: 20px;
}

.header button.user-dropdown {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.header button.user-dropdown md-icon {
  margin-top: -3px;
}

.header a.logo-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header span.logo {
  margin-left: 6px;
  margin-right: 6px;
  font-family: Norwester, Sans-Serif;
  color: #fff;
}

.header md-icon.logo-icon {
  color: #fff;
  width: 36px;
  height: 36px;
  margin-top: -4px;
  margin-left: 0px;
  transition: margin-top .75s ease-out;
}

div.no-creatures-area {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
