<div class="stat-block" ng-style="statBlockStyle()">
	 <div class="stat-block-overlay" layout="column" layout-align="center center">
    <!-- Main Control Menu - bar on the right side -->
    <section ng-if="!noResize" layout="column" class="side-menu">
      <md-button ng-click="expand()" class="md-mini expand" aria-label="Expand">
        <md-icon>expand_more</md-icon>
        <md-tooltip md-direction="left">
          Expand
        </md-tooltip>
      </md-button>
    </section>
  </div>
  <div class="creature-heading">
    <h1 style="margin-right:40px;">{{creature.name}}</h1>
    <h2>{{creature.stats.size.charAt(0).toUpperCase() + creature.stats.size.slice(1).toLowerCase()}} {{creature.stats.race.toLowerCase()}}, {{creature.stats.alignment.toLowerCase()}}</h2>
    <h1 ng-hide="hideCrTag==true" style="position:absolute;top:10px;right:6px;">{{creature.stats.challengeRatingStr}}</h1>
    <h1 ng-hide="hideCrTag" style="position:absolute;top:34px;right:6px;font-size:10px;">CR</h1>
  </div>

</div>
