
<div id="{{'stat-block-'+creature._id}}" class="stat-block" ng-style="statBlockStyle()">
  <div ng-if="creatureApi" ng-click="isMobile() ? shrink() : null;secondaryControls={};" class="stat-block-overlay" layout="column" layout-align="center center" ng-class="{'stat-block-overlay-mobile':isMobile()}" >
    <!-- Main Control Menu - bar on the right side -->
    <section layout="column" class="side-menu">
      <md-button ng-click="shrink()" ng-if="!noResize" class="md-mini" aria-label="Shrink">
        <md-icon>expand_less</md-icon>
        <md-tooltip md-direction="left">
          Minimize
        </md-tooltip>
      </md-button>
      <md-button ng-click="creatureApi.edit(creature);$event.stopPropagation();" ng-if="creatureApi.edit" ng-disabled="secondaryControls.export" class="md-mini" aria-label="Edit">
        <md-icon ng-class="{'disabled':secondaryControls.export}">mode_edit</md-icon>
        <md-tooltip md-direction="left">
          Edit
        </md-tooltip>
      </md-button>
      <md-button ng-click="secondaryControls.export=!secondaryControls.export;$event.stopPropagation();" ng-show="creatureApi.export" class="md-mini" aria-label="Export">
        <md-icon md-menu-origin md-svg-icon="/assets/img/icons/material/export.svg"></md-icon>
        <md-tooltip md-direction="left" md-autohide>
          Export
        </md-tooltip>
      </md-button>
      <md-button ng-click="creatureApi.share($event,creature);$event.stopPropagation();" ng-if="creatureApi.share" class="md-mini" aria-label="Export">
        <md-icon ng-class="{'md-accent': creature.sharing.linkSharingEnabled}" md-menu-origin>share</md-icon>
        <md-tooltip md-direction="left" md-autohide>
          Share
        </md-tooltip>
      </md-button>
      <md-button ng-click="creatureApi.copy(creature);$event.stopPropagation();" ng-if="creatureApi.copy" ng-disabled="secondaryControls.export" class="md-mini" aria-label="Copy">
        <md-icon ng-class="{'disabled':secondaryControls.export, 'md-accent':creatureApi.shouldHighlightClipboard(creature)}">content_copy</md-icon>
        <md-tooltip md-direction="left">
          Copy
        </md-tooltip>
      </md-button>
      <md-button ng-click="creatureApi.delete($event,creature);$event.stopPropagation();" ng-if="creatureApi.delete" ng-disabled="secondaryControls.export" class="md-mini" aria-label="Delete">
        <md-icon ng-class="{'disabled':secondaryControls.export}">delete</md-icon>
        <md-tooltip md-direction="left">
          Delete
        </md-tooltip>
      </md-button>
    </section>
    <!-- Export Secondary Control Menu -->
    <section ng-if="secondaryControls.export" layout="column" ng-class="{'secondary-menu-visible':secondaryControls.export}" class="secondary-menu">
      <md-button ng-if="creatureApi.edit" style="opacity:0;">HIDDEN</md-button>
      <md-button hide show-gt-sm ng-click="creatureApi.export.exportImage($event,creature);$event.stopPropagation();" ng-if="creatureApi.export.exportImage" aria-label="Export Image">
        Export to Image
      </md-button>
      <md-button ng-click="creatureApi.export.exportJson($event,creature);$event.stopPropagation();" ng-if="creatureApi.export.exportJson" aria-label="Export JSON">
        Export to JSON
      </md-button>
      <md-button ng-click="creatureApi.export.exportHTML($event,creature);$event.stopPropagation();" ng-if="creatureApi.export.exportHTML" aria-label="Export HTML">
        Export to HTML
      </md-button>
      <md-button ng-click="creatureApi.export.exportNaturalCrit($event,creature);$event.stopPropagation();" ng-if="creatureApi.export.exportNaturalCrit" aria-label="Copy">
        Export to Natural Crit
      </md-button>
    </section>
  </div>

  <div id="{{'stat-block-inner-'+creature._id}}" class="stat-block-inner">

    <div class="creature-heading">
      <h1 style="margin-right:40px;">{{creature.name}}</h1>
      <h2>{{TextUtils.getTitleCase(creature.stats.size)}} {{TextUtils.getTitleCase(creature.stats.race)}}, {{TextUtils.getTitleCase(creature.stats.alignment)}}</h2>
      <h1 ng-hide="hideCrTag==true" style="position:absolute;top:10px;right:6px;">{{creature.stats.challengeRatingStr}}</h1>
      <h1 ng-hide="hideCrTag" style="position:absolute;top:34px;right:6px;font-size:10px;">CR</h1>
    </div>
    <img ng-show="creature.flavor.imageUrl" class="creature-image" ng-src="{{creature.flavor.imageUrl}}" />
    <div class="tapered-rule"></div>
    <div class="top-stats">
      <div class="property-line">
        <h4>Armor Class</h4>
        <p>{{creature.stats.armorClass}} {{creature.stats.armorType ? ("("+creature.stats.armorType.toLowerCase()+")") : ""}}</p>
      </div>
      <div class="property-line">
        <h4>Hit Points</h4>
        <p>{{creature.stats.hitPointsStr}}</p>
      </div>
      <div class="property-line">
        <h4>Speed</h4>
        <p>{{creature.stats.speed}}</p>
      </div>

      <div class="tapered-rule"></div>
      <table class="ability-scores">
        <tr>
          <th>STR</th>
          <th>DEX</th>
          <th>CON</th>
          <th>INT</th>
          <th>WIS</th>
          <th>CHA</th>
        </tr>
        <tr>
          <td>{{creature.stats.abilityScoreStrs.strength}}</td>
          <td>{{creature.stats.abilityScoreStrs.dexterity}}</td>
          <td>{{creature.stats.abilityScoreStrs.constitution}}</td>
          <td>{{creature.stats.abilityScoreStrs.intelligence}}</td>
          <td>{{creature.stats.abilityScoreStrs.wisdom}}</td>
          <td>{{creature.stats.abilityScoreStrs.charisma}}</td>
        </tr>
      </table>
      <div class="tapered-rule"></div>

      <div class="property-line" ng-if="creature.stats.savingThrows.length>0">
        <h4>Saving Throws</h4>
        <p>
          <span ng-repeat="savingThrow in creature.stats.savingThrows"><span ng-if="$index>0">, </span>{{savingThrow.modifierStr}}</span>
        </p>
      </div>
      <div class="property-line" ng-if="creature.stats.skills.length>0">
        <h4>Skills</h4>
        <p>
          <span ng-repeat="skill in creature.stats.skills"><span ng-if="$index>0">, </span>{{skill.modifierStr}}</span>
        </p>
      </div>
      <div class="property-line" ng-if="creature.stats.damageVulnerabilities.length>0">
        <h4>Damage Vulnerabilities</h4>
        <p>
          <span ng-repeat="vulnerability in creature.stats.damageVulnerabilities"><span ng-if="$index>0">, </span>{{vulnerability.toLowerCase()}}</span>
        </p>
      </div>
      <div class="property-line" ng-if="creature.stats.damageResistances.length>0">
        <h4>Damage Resistances</h4>
        <p>
          <span ng-repeat="resistance in creature.stats.damageResistances"><span ng-if="$index>0">, </span>{{resistance.toLowerCase()}}</span>
        </p>
      </div>
      <div class="property-line" ng-if="creature.stats.damageImmunities.length>0">
        <h4>Damage Immunities</h4>
        <p>
          <span ng-repeat="immunity in creature.stats.damageImmunities"><span ng-if="$index>0">, </span>{{immunity.toLowerCase()}}</span>
        </p>
      </div>
      <div class="property-line" ng-if="creature.stats.conditionImmunities.length>0">
        <h4>Condition Immunities</h4>
        <p>
          <span ng-repeat="immunity in creature.stats.conditionImmunities"><span ng-if="$index>0">, </span>{{immunity.toLowerCase()}}</span>
        </p>
      </div>
      <div class="property-line">
        <h4>Senses</h4>
        <p>
          <span ng-repeat="sense in creature.stats.senses"><span ng-if="$index>0">, </span>{{sense}}</span><span><span ng-if="creature.stats.senses.length>0">, </span>passive Perception {{creature.stats.passivePerception}}</span>
        </p>
      </div>
      <div class="property-line">
        <h4>Languages</h4>
        <p ng-if="creature.stats.languages.length==0">—</p>
        <p ng-if="creature.stats.languages.length>0">
          <span ng-repeat="language in creature.stats.languages"><span ng-if="$index>0">, </span>{{language}}</span>
        </p>
      </div>
      <div class="property-line">
        <div class="left-block">
          <h4>Challenge</h4>
          <p>{{creature.stats.challengeRatingStr}} ({{creature.stats.experiencePoints}} XP)</p>
        </div>
        <div class="right-block">
          <h4>Proficiency Bonus</h4>
          <p>+{{creature.stats.proficiencyBonus}}</p>
        </div>
      </div>
    </div>
    <div class="tapered-rule"></div>

    <div class="property-block" ng-repeat="ability in creature.stats.additionalAbilities">
      <h4>{{ability.name}}.</h4>
      <p ng-bind-html="ability.descriptionHtml"></p>
    </div>

    <h3 ng-if="creature.stats.actions.length>0">Actions</h3>

    <div class="property-block" ng-repeat="action in creature.stats.actions">
      <h4>{{action.name}}.</h4>
      <p ng-bind-html="action.descriptionHtml"></p>
    </div>

    <h3 ng-if="creature.stats.reactions.length>0">Reactions</h3>

    <div class="property-block" ng-repeat="reaction in creature.stats.reactions">
      <h4>{{reaction.name}}.</h4>
      <p ng-bind-html="reaction.descriptionHtml"></p>
    </div>

    <h3 ng-if="creature.stats.legendaryActions.length>0">Legendary Actions</h3>
    <p ng-if="creature.stats.legendaryActions.length>0" ng-bind-html="getLegendaryActionsText()"></p>
    <div class="property-block legendary-block" ng-repeat="action in creature.stats.legendaryActions">
      <h4>{{action.name}}.</h4>
      <p ng-bind-html="action.descriptionHtml"></p>
    </div>

    <h3 ng-if="creature.flavor.description.length>0">Description</h3>

    <div class="property-block">
      <p ng-bind-html="creature.flavor.descriptionHtml"></p>
    </div>
  </div>
</div>
