<stat-block>
  <creature-heading>
    <h1>{{creature.name}}</h1>
    <h2>{{creature.stats.size.charAt(0).toUpperCase() + creature.stats.size.slice(1).toLowerCase()}} {{creature.stats.race.toLowerCase()}}, {{creature.stats.alignment.toLowerCase()}}</h2>
    <h1 style="position:absolute;top:10px;right:6px;">{{creature.stats.challengeRatingStr}}</h1>
    <h1 style="position:absolute;top:34px;right:5px;font-size:10px;">CR</h1>
  </creature-heading>

  <tapered-rule style="margin-top:8px;display:block;"></tapered-rule>

  <h3 ng-if="creature.flavor.description.length>0">Description</h3>

  <property-block>
    <p ng-bind-html="creature.flavor.descriptionHtml"></p>
  </property-block>

  <h3 ng-if="creature.stats.additionalAbilities.length>0">Abilities</h3>

  <property-block ng-repeat="ability in creature.stats.additionalAbilities">
    <h4>{{ability.name}}.</h4>
    <p ng-bind-html="ability.descriptionHtml"></p>
  </property-block>

  <h3 ng-if="creature.stats.actions.length>0">Actions</h3>

  <property-block ng-repeat="action in creature.stats.actions">
    <h4>{{action.name}}.</h4>
    <p ng-bind-html="action.descriptionHtml"></p>
  </property-block>

  <h3 ng-if="creature.stats.reactions.length>0">Reactions</h3>

  <property-block ng-repeat="reaction in creature.stats.reactions">
    <h4>{{reaction.name}}.</h4>
    <p ng-bind-html="reaction.descriptionHtml"></p>
  </property-block>

</stat-block>
