
<md-toolbar class="md-whiteframe-5dp inner-header md-menu-toolbar" layout-align="center center">
	<div ng-controller="sideNavCtrl" class="md-toolbar-tools controls">
		<h2 ng-if="!owner" style="margin-left:0px;">
			<span hide show-gt-xs>
				<a>Published Bestiaries</a>
				<span> > </span>
			</span>
			<md-menu class="bestiary-list">
        <md-button aria-label="Bestiary list selection" ng-click="$mdOpenMenu($event)" class="open-menu">
          <b>
            {{bestiaryType}}
          </b>
          <md-icon class="drop-down">arrow_drop_down</md-icon>
        </md-button>
        <md-menu-content width="3" >
        	<md-menu-item>
            <md-button ng-href="{{getCurrentBestiaryListType().path}}" md-menu-align-target aria-label="Switch bestiary list type">
                <div layout="row">
                  <p>{{getCurrentBestiaryListType().name}}</p>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-repeat="bestiaryListType in bestiaryListTypes" ng-if="bestiaryListType.type!=getCurrentBestiaryListType().type">
            <md-button ng-href="{{bestiaryListType.path}}" aria-label="Switch bestiary list type">
                <div layout="row">
                  <p>{{bestiaryListType.name}}</p>
                </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
		</h2>
		<h2 ng-if="owner" style="margin-left:0px;">
			<span><b>{{owner.username}}'s Published Bestiaries</b></span>
		</h2>
		<div class="right-side-controls">
			<md-button ng-click="toggleExclusive('clipboardNav');" ng-if="!CreatureClipboard.isEmpty()" class="md-icon-button md-mini" aria-label="Clipboard">
				<md-icon ng-class="{'md-accent':(isOpen('clipboardNav') || !CreatureClipboard.isEmpty())}">content_paste</md-icon>
				<md-tooltip md-direction="left">
	        Clipboard
	      </md-tooltip>
	      <div class="counter">
	      	{{CreatureClipboard.getAll().length}}
	      </div>
			</md-button>
		</div>
	</div>
</md-toolbar>

<div layout="column" class="body-area" ng-controller="sideNavCtrl">
	<!-- CLIPBOARD SIDENAV -->
	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="clipboardNav">
	  <md-toolbar class="md-accent">
	  	<div class="md-toolbar-tools">
		    <h1 class="md-toolbar-tools">Clipboard</h1>
		    <span flex></span>
        <md-button ng-click="close('clipboardNav')" class="md-icon-button" aria-label="Close">
          <md-icon>close</md-icon>
        </md-button>
      </div>
	  </md-toolbar>
	  <md-content layout-padding class="creature-clipboard">
	  	<div class="container">
		    <div layout="row" ng-repeat="creature in CreatureClipboard.getAll() track by $index" class="mini-statblock-item">
		      <ng-stat-block creature="creature" size="mini" style="width:100%;"></ng-stat-block>
		      <button ng-click="CreatureClipboard.remove(creature)" class="md-primary remove-saving-throw remove-mini-statblock" type="button">
	          <md-icon md-svg-icon="md-close"></md-icon>
	        </button>
	      </div>
	    </div>
	  </md-content>
	  <div class="action-bar">
      <md-button ng-click="CreatureClipboard.clear();close('clipboardNav');" class="md-raised">Clear</md-button>
  	</div>
	</md-sidenav>
	<!-- BESTIARY LIST -->
	<md-content layout="column" layout-align="top center" class="background bg-color-primary-light text-color-content" infinite-scroll="bestiaryPager.loadNextPage()" threshold="250" can-load="!bestiaryPager.busy">
		<md-card ng-repeat="bestiary in bestiaries | orderBy:bestiarySortFunction" class="published-bestiary-card">
			<md-card-header>
				<md-card-header-text>
					<span>
						<span class="md-title bestiary-name">{{bestiary.name}}</span>
						<span class="action-bar">
							<span class="md-subhead" style="margin-right:4px;">
								<md-icon class="commented">comment</md-icon>
								{{bestiary.numComments || 0}}
							</span>
							<span class="md-subhead">
								<md-icon class="liked">favorite</md-icon>
								{{bestiary.numLikes || 0}}
							</span>
							<span class="md-subhead">
								<md-icon class="favorite">star</md-icon>
								{{bestiary.numFavorites || 0}}
							</span>
						</span>
					</span>
					<span class="md-subhead">by <a class="username text-color-secondary" ng-href="{{getUserBestiaryListPath(bestiary.owner)}}">{{bestiary.owner.username}}</a></span>
		      <span btf-markdown="bestiary.description" class="md-body-1 text-color-secondary" style="margin-top:6px;"></span>
				</md-card-header-text>
			</md-card-header>
		  <md-card-actions layout="row" layout-align="end center">
		    <md-button ng-href="{{getBestiaryPath(bestiary)}}">View</md-button>
		  </md-card-actions>
		</md-card>
	</md-content>
</div>
