
<md-toolbar class="md-whiteframe-5dp inner-header md-menu-toolbar" layout-align="center center">
	<div ng-controller="sideNavCtrl" class="md-toolbar-tools controls">
		<md-button hide-gt-xs ng-click="goBack()" class="md-icon-button md-mini" aria-label="Back">
			<md-icon>keyboard_backspace</md-icon>
			<md-tooltip>
        Back
      </md-tooltip>
		</md-button>
		<h2 style="margin-left:0px;">
			<span hide show-gt-xs><a ng-href="{{getPublishedBestiaryListPath()}}">Published Bestiaries</a> > </span>
			<span><b>Search Bestiaries</b></span>
		</h2>
		<div class="right-side-controls">
			<md-button ng-click="toggleExclusive('clipboardNav');" ng-if="!CreatureClipboard.isEmpty()" class="md-icon-button md-mini" aria-label="Clipboard">
				<md-icon ng-class="{'md-accent':(isOpen('clipboardNav') || !CreatureClipboard.isEmpty())}">content_paste</md-icon>
				<md-tooltip md-direction="left">
	        Clipboard
	      </md-tooltip>
	      <div class="counter">
	      	{{CreatureClipboard.getAll().length}}
	      </div>
			</md-button>
		</div>
	</div>
</md-toolbar>

<div layout="column" class="body-area" ng-controller="sideNavCtrl">
	<!-- CLIPBOARD SIDENAV -->
	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="clipboardNav">
	  <md-toolbar class="md-accent">
	  	<div class="md-toolbar-tools">
		    <h1 class="md-toolbar-tools">Clipboard</h1>
		    <span flex></span>
        <md-button ng-click="close('clipboardNav')" class="md-icon-button" aria-label="Close">
          <md-icon>close</md-icon>
        </md-button>
      </div>
	  </md-toolbar>
	  <md-content layout-padding class="creature-clipboard">
	  	<div class="container">
		    <div layout="row" ng-repeat="creature in CreatureClipboard.getAll() track by $index" class="mini-statblock-item">
		      <ng-stat-block creature="creature" size="mini" style="width:100%;"></ng-stat-block>
		      <button ng-click="CreatureClipboard.remove(creature)" class="md-primary remove-saving-throw remove-mini-statblock" type="button">
	          <md-icon md-svg-icon="md-close"></md-icon>
	        </button>
	      </div>
	    </div>
	  </md-content>
	  <div class="action-bar">
      <md-button ng-click="CreatureClipboard.clear();close('clipboardNav');" class="md-raised">Clear</md-button>
  	</div>
	</md-sidenav>
	<!-- SEARCH -->
	<md-content layout="column" infinite-scroll="bestiaryPager.loadNextPage()" threshold="250" can-load="!bestiaryPager.busy" class="search-bestiaries">
		<form ng-submit="runSearch()" layout="row" layout-align="center center" class="search-input">
			<md-input-container>
				<label>Search by Name</label>
		    <input ng-model="search.name" />
		  </md-input-container>
		  <md-button class="md-raised md-primary" ng-disabled="searching" type="submit">Search</md-button>
		</form>
		<section layout="row">
			<!-- BESTIARY LIST -->
			<div ng-include="'assets/partials/publishedBestiary/bestiaryList.html'"></div>
		</section>
	</md-content>
</div>
