
<md-toolbar class="md-whiteframe-5dp inner-header md-menu-toolbar" layout-align="center center">
	<div ng-controller="sideNavCtrl" class="md-toolbar-tools controls">
		<md-button hide-gt-sm ng-href="{{getPublishedBestiaryListPath()}}" class="md-icon-button md-mini" aria-label="Back">
			<md-icon>keyboard_backspace</md-icon>
			<md-tooltip>
        Back
      </md-tooltip>
		</md-button>
		<h2>
			<span hide show-gt-sm>
				<a ng-href="{{getPublishedBestiaryListPath()}}" style="cursor:pointer;">Published Bestiaries</a>
				<span> > </span>
			</span>
			<b>{{bestiary.name}}</b>
		</h2>
		<div class="right-side-controls">
			<md-button ng-click="toggle('clipboardNav');close('filterNav');close('menuNav');" ng-if="!CreatureClipboard.isEmpty()" class="md-icon-button md-mini" aria-label="Clipboard">
				<md-icon ng-class="{'md-accent':(isOpen('clipboardNav') || !CreatureClipboard.isEmpty())}">content_paste</md-icon>
				<md-tooltip md-direction="left">
	        Clipboard
	      </md-tooltip>
	      <div class="counter">
	      	{{CreatureClipboard.getAll().length}}
	      </div>
			</md-button>
			<!-- NON-MOBILE BUTTONS -->
			<md-button hide show-gt-xs ng-click="toggle('filterNav');close('clipboardNav');close('menuNav');" class="md-icon-button md-mini" aria-label="Filters">
				<md-icon ng-class="{'md-accent':(isOpen('filterNav') || creatureFilter.areFiltersActive())}">filter_list</md-icon>
				<md-tooltip md-direction="left">
	        Filter Creatures
	      </md-tooltip>
			</md-button>
			<md-button hide show-gt-xs ng-click="editPublishedBestiary($event)" ng-if="isOwner()" class="md-icon-button md-mini" aria-label="Edit">
				<md-icon>mode_edit</md-icon>
				<md-tooltip md-direction="left">
	        Edit Published Bestiary
	      </md-tooltip>
			</md-button>
			<!-- MOBILE MENU BUTTON -->
			<md-button hide-gt-xs ng-click="toggle('menuNav');close('clipboardNav');close('filterNav');" ng-class="{'selected':isOpen('menuNav')}" class="md-icon-button md-mini" aria-label="Menu">
				<md-icon ng-class="{'md-accent':isOpen('menuNav')}">menu</md-icon>
			</md-button>
			<!-- - -->
		</div>
	</div>
</md-toolbar>

<div layout="column" class="body-area bg-color-primary-light" ng-controller="sideNavCtrl" layout-align="top center">
	<section class="sidenav-wrapper content-section md-whiteframe-3dp" layout="row" flex>
		<md-content class="published-bestiary-details md-padding" style="width:50%;">
			<h1>{{bestiary.name}}</h1>
			<md-divider></md-divider>
			<span class="caption">published by <b>{{bestiary.owner.username}}</b></span>
			<p btf-markdown="bestiary.description" class="md-body-1"></p>
		</md-content>
		<md-content style="width:50%;">
			<div class="fallingColumns">
				<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter.isCreatureShown" creature="creature" creature-api="creatureApi" class="fallingColumnsItem"></ng-stat-block>
			</div>
		</md-content>

		<!-- CLIPBOARD SIDENAV -->
		<md-sidenav class="md-sidenav-right md-whiteframe-z2 edit-sidenav bestiary-sidenav" md-is-locked-open="isOpen('clipboardNav')" md-component-id="clipboardNav">
		  <md-toolbar class="md-accent">
		  	<div class="md-toolbar-tools">
			    <h1 class="md-toolbar-tools">Clipboard</h1>
			    <span flex></span>
	        <md-button ng-click="close('clipboardNav')" class="md-icon-button" aria-label="Close">
	          <md-icon>close</md-icon>
	        </md-button>
	      </div>
		  </md-toolbar>
		  <md-content layout-padding class="creature-clipboard">
		  	<div class="container">
			    <div layout="row" ng-repeat="creature in CreatureClipboard.getAll() track by $index" class="mini-statblock-item">
			      <ng-stat-block creature="creature" size="mini" style="width:100%;"></ng-stat-block>
			      <button ng-click="CreatureClipboard.remove(creature)" class="md-primary remove-saving-throw remove-mini-statblock" type="button">
		          <md-icon md-svg-icon="md-close"></md-icon>
		        </button>
		      </div>
		    </div>
		  </md-content>
		  <div class="action-bar">
	      <md-button ng-click="CreatureClipboard.clear();close('clipboardNav');" class="md-raised">Clear</md-button>
    	</div>
		</md-sidenav>
		<!-- FILTER SIDENAV -->
		<md-sidenav class="md-sidenav-right md-whiteframe-z2 bestiary-sidenav" md-is-locked-open="isOpen('filterNav')" md-component-id="filterNav">
		  <md-toolbar class="md-accent">
		  	<div class="md-toolbar-tools">
			    <h1 class="md-toolbar-tools">Filters</h1>
			    <span flex></span>
	        <md-button ng-click="close('filterNav')" class="md-icon-button" aria-label="Close">
	          <md-icon>close</md-icon>
	          <md-tooltip>
		        	Close
		      	</md-tooltip>
	        </md-button>
	      </div>
		  </md-toolbar>
		  <md-content layout-padding>
				<section layout="row" layout-align="center center">
				  <md-input-container flex>
			      <label>Min CR</label>
			      <input ng-model="creatureFilter.challengeRating.min.value" ng-change="creatureFilter.challengeRating.changed(creatureFilter.challengeRating.min)" step="{{creatureFilter.challengeRating.min.step}}" type="number" min="0" max="30"/>
			    </md-input-container>
			    <md-input-container flex>
			      <label>Max CR</label>
			      <input ng-model="creatureFilter.challengeRating.max.value" ng-change="creatureFilter.challengeRating.changed(creatureFilter.challengeRating.max)" step="{{creatureFilter.challengeRating.max.step}}" type="number" min="0" max="30"/>
			    </md-input-container>
			  </section>
				<section ng-repeat="filter in creatureFilter.filters track by $index" layout="column" layout-align="center top" ng-class="{'and-filter':creatureFilter.fillBackground(true,$index)}" style="padding: 0px;">
					<div layout="row" ng-class="{'and-filter':creatureFilter.fillBackground(false,$index)}">
				    <md-input-container style="width:calc(100% - 16px);margin-left:6px;">
			        <label>Filter by name, faction, or environment</label>
			        <input ng-model="filter.text">
			      </md-input-container>
			      <button ng-click="creatureFilter.removeFilter($index)" class="md-primary remove-saving-throw" style="margin-top:25px;margin-left:4px;margin-right:6px;">
		          <md-icon md-svg-icon="md-close"></md-icon>
		        </button>
		      </div>
		      <div ng-if="!$last" layout="row" layout-align="center center">
		      	<md-button ng-click="filter.toggleOperator()" aria-label="Toggle And/Or Operator">
		      		{{filter.operator.toUpperCase()}}
		      	</md-button>
		      </div>
		    </section>
	      <section layout="row" layout-align="start center">
	      	<md-button ng-click="creatureFilter.resetFilters()" class="md-raised" aria-label="Reset Filters">Reset Filters</md-button>
	      	<md-button ng-click="creatureFilter.addFilter()" class="md-raised md-primary" aria-label="Add Filter">Add Filter</md-button>
	      </section>
		  </md-content>
		</md-sidenav>
		<!-- MENU SIDENAV -->
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="menuNav">
		  <md-toolbar class="md-accent">
		  	<div class="md-toolbar-tools">
			    <h1 class="md-toolbar-tools">Published Bestiary Actions</h1>
			    <span flex></span>
	        <md-button ng-click="close('menuNav')" class="md-icon-button" aria-label="Close">
	          <md-icon>close</md-icon>
	        </md-button>
	      </div>
		  </md-toolbar>
	  	<md-list>
	  		<md-list-item ng-click="editPublishedBestiary($event);close('menuNav');" ng-if="isOwner()">
	  			<md-icon style="margin-bottom:16px">mode_edit</md-icon>
	  			<p>Edit</p>
	 			</md-list-item>
	 			<md-list-item ng-click="toggle('filterNav');close('clipboardNav');close('menuNav');">
	  			<md-icon style="margin-bottom:16px">filter_list</md-icon>
	  			<p>Filter</p>
	 			</md-list-item>
	  	</md-list>
		</md-sidenav>
	</section>
</div>
