
<md-toolbar class="md-whiteframe-5dp inner-header md-menu-toolbar" layout-align="center center">
	<div ng-controller="sideNavCtrl" class="md-toolbar-tools controls">
		<md-button hide-gt-sm ng-click="goBack()" class="md-icon-button md-mini" aria-label="Back">
			<md-icon>keyboard_backspace</md-icon>
			<md-tooltip>
        Back
      </md-tooltip>
		</md-button>
		<!-- NON-MOBILE TITLE -->
		<h2 hide show-gt-xs style="margin-left:0px;max-width: calc(100% - 275px);">
			<span hide show-gt-sm>
				<a ng-href="{{getUserBestiaryListPath(bestiary.owner)}}" style="cursor:pointer;">{{bestiary.owner.username}}'s Published Bestiaries</a>
				<span> > </span>
			</span>
			<b>{{bestiary.name}}</b>
		</h2>
		<!-- MOBILE TITLE -->
		<h2 hide-gt-xs style="margin-left:0px;">
			<span hide show-gt-sm>
				<a ng-href="{{getUserBestiaryListPath(bestiary.owner)}}" style="cursor:pointer;">{{bestiary.owner.username}}'s Published Bestiaries</a>
				<span> > </span>
			</span>
			<b>{{bestiary.name}}</b>
		</h2>
		<div class="right-side-controls">
			<md-button ng-click="toggleExclusive('clipboardNav');" ng-if="!CreatureClipboard.isEmpty()" class="md-icon-button md-mini" aria-label="Clipboard">
				<md-icon ng-class="{'md-accent':(isOpen('clipboardNav') || !CreatureClipboard.isEmpty())}">content_paste</md-icon>
				<md-tooltip md-direction="left">
	        Clipboard
	      </md-tooltip>
	      <div class="counter">
	      	{{CreatureClipboard.getAll().length}}
	      </div>
			</md-button>
			<!-- NON-MOBILE BUTTONS -->
			<md-button hide show-gt-xs ng-click="copyBestiary()" class="md-icon-button md-mini" aria-label="Copy Bestiary">
				<md-icon>content_copy</md-icon>
				<md-tooltip md-direction="left">
	        Copy Bestiary
	      </md-tooltip>
			</md-button>
			<md-button hide show-gt-xs ng-click="toggleExclusive('filterNav');" class="md-icon-button md-mini" aria-label="Filters">
				<md-icon ng-class="{'md-accent':(isOpen('filterNav') || creatureFilter.areFiltersActive())}">filter_list</md-icon>
				<md-tooltip md-direction="left">
	        Filter Creatures
	      </md-tooltip>
			</md-button>
			<md-button hide show-gt-xs ng-click="editPublishedBestiary($event)" ng-if="isOwner()" class="md-icon-button md-mini" aria-label="Edit">
				<md-icon>mode_edit</md-icon>
				<md-tooltip md-direction="left">
	        Edit Published Bestiary
	      </md-tooltip>
			</md-button>
			<md-button hide show-gt-xs ng-click="deletePublishedBestiary($event)" ng-if="isOwner()" class="md-icon-button md-mini" aria-label="Delete">
				<md-icon>delete</md-icon>
				<md-tooltip md-direction="left">
	        Delete Published Bestiary
	      </md-tooltip>
			</md-button>
			<!-- MOBILE MENU BUTTON -->
			<md-button hide-gt-xs ng-click="toggleExclusive('menuNav');" ng-class="{'selected':isOpen('menuNav')}" class="md-icon-button md-mini" aria-label="Menu">
				<md-icon ng-class="{'md-accent':isOpen('menuNav')}">menu</md-icon>
			</md-button>
			<!-- - -->
		</div>
	</div>
</md-toolbar>

<div layout="column" class="body-area bg-color-primary-light" ng-controller="sideNavCtrl" layout-align="top center">
	<section class="sidenav-wrapper content-section md-whiteframe-3dp" layout="column" layout-gt-sm="row" style="overflow:auto;">
		<!-- SMALL SCREENS (Mobile) -->
		<div hide-gt-sm>
			<md-content class="published-bestiary-details md-padding">
				<h1>{{bestiary.name}}</h1>
				<div ng-if="canInteract()" class="action-bar">
					<md-button ng-click="toggleLike()" class="md-icon-button like" aria-label="Like">
						<md-icon ng-if="!isLiked()">favorite_border</md-icon>
						<md-icon ng-if="isLiked()" class="liked">favorite</md-icon>
	          <md-tooltip>
		        	Like
		      	</md-tooltip>
					</md-button>
					<md-button ng-click="toggleFavorite()" class="md-icon-button" aria-label="Favorite">
						<md-icon ng-if="!isFavorite()">star_border</md-icon>
						<md-icon ng-if="isFavorite()" class="favorite">star</md-icon>
	          <md-tooltip>
		        	Favorite
		      	</md-tooltip>
					</md-button>
				</div>
				<md-divider></md-divider>
				<span class="caption">published by <a class="username text-color-secondary" ng-href="{{getUserBestiaryListPath(bestiary.owner)}}">{{bestiary.owner.username}}</a></span>
				<p btf-markdown="bestiary.description" class="md-body-1"></p>
			</md-content>
			<md-content>
				<div class="fallingColumns">
					<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter.isCreatureShown" creature="creature" creature-api="creatureApi" class="fallingColumnsItem"></ng-stat-block>
				</div>
			</md-content>
		</div>
		<!-- WIDE SCREENS (Computer) -->
		<div hide show-gt-sm style="display:flex;">
			<md-content class="published-bestiary-details md-padding" style="width:50%;">
				<h1>{{bestiary.name}}</h1>
				<div ng-if="canInteract()" class="action-bar">
					<md-button ng-click="toggleLike()" class="md-icon-button like" aria-label="Like">
						<md-icon ng-if="!isLiked()">favorite_border</md-icon>
						<md-icon ng-if="isLiked()" class="liked">favorite</md-icon>
	          <md-tooltip>
		        	Like
		      	</md-tooltip>
					</md-button>
					<md-button ng-click="toggleFavorite()" class="md-icon-button" aria-label="Favorite">
						<md-icon ng-if="!isFavorite()">star_border</md-icon>
						<md-icon ng-if="isFavorite()" class="favorite">star</md-icon>
	          <md-tooltip>
		        	Favorite
		      	</md-tooltip>
					</md-button>
				</div>
				<md-divider></md-divider>
				<span class="caption">published by <a class="username text-color-secondary" ng-href="{{getUserBestiaryListPath(bestiary.owner)}}">{{bestiary.owner.username}}</a></span>
				<p btf-markdown="bestiary.description" class="md-body-1"></p>
				<!-- Comments -->
				<span class="md-title comments-header"><md-icon class="comments-icon">comment</md-icon>{{getCommentsHeader()}}</span>
				<md-divider></md-divider>
				<md-list>
					<md-list-item class="md-2-line comment" ng-repeat="comment in bestiary.comments | orderBy:'_id'">
						<div class="md-list-item-text" layout="column">
							<p>
								<a class="username" style="color:inherit;" ng-href="{{getUserBestiaryListPath(comment.author)}}">{{comment.author.username}}</a>
								<span ng-if="isOwner()" class="controls">
									<md-button ng-click="editComment(comment)" class="md-icon-button">
										<md-icon ng-if="isOwner()">mode_edit</md-icon>
					          <md-tooltip>Edit</md-tooltip>
									</md-button>
									<md-button ng-click="deleteComment($event,comment._id)" class="md-icon-button">
										<md-icon ng-if="isOwner()">delete</md-icon>
					          <md-tooltip>Delete</md-tooltip>
									</md-button>
								</span>
								<span class="caption published-date">{{getCreationDate(comment._id) | date:'d MMM yyyy'}}</span>
							</p>
							<h4 ng-if="!commentEdits[comment._id]">{{comment.text}}</h4>
							<md-content ng-if="commentEdits[comment._id]" class="edit-comment">
								<md-input-container class="md-block">
				          <textarea ng-model="commentEdits[comment._id].text" aria-label="Comment"></textarea>
				        </md-input-container>
				        <md-button class="md-raised md-primary" ng-click="saveCommentEdits(comment)">Save</md-button>
				        <md-button class="md-raised" ng-click="cancelCommentEdits(comment)">Cancel</md-button>
				      </md-content>
						</div>
					</md-list-item>
				</md-list>
				<md-content class="post-comment">
					<md-input-container class="md-block">
	          <label>Comment</label>
	          <textarea ng-model="newComment.text"></textarea>
	        </md-input-container>
	        <md-button class="md-raised md-primary" ng-disabled="postingComment" ng-click="postComment()">Post</md-button>
	      </md-content>
			</md-content>
			<md-content style="width:50%;">
				<div class="fallingColumns">
					<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter.isCreatureShown" creature="creature" creature-api="creatureApi" class="fallingColumnsItem"></ng-stat-block>
				</div>
			</md-content>
		</div>

		<!-- CLIPBOARD SIDENAV -->
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="clipboardNav">
		  <md-toolbar class="md-accent">
		  	<div class="md-toolbar-tools">
			    <h1 class="md-toolbar-tools">Clipboard</h1>
			    <span flex></span>
	        <md-button ng-click="close('clipboardNav')" class="md-icon-button" aria-label="Close">
	          <md-icon>close</md-icon>
	        </md-button>
	      </div>
		  </md-toolbar>
		  <md-content layout-padding class="creature-clipboard">
		  	<div class="container">
			    <div layout="row" ng-repeat="creature in CreatureClipboard.getAll() track by $index" class="mini-statblock-item">
			      <ng-stat-block creature="creature" size="mini" style="width:100%;"></ng-stat-block>
			      <button ng-click="CreatureClipboard.remove(creature)" class="md-primary remove-saving-throw remove-mini-statblock" type="button">
		          <md-icon md-svg-icon="md-close"></md-icon>
		        </button>
		      </div>
		    </div>
		  </md-content>
		  <div class="action-bar">
	      <md-button ng-click="CreatureClipboard.clear();close('clipboardNav');" class="md-raised">Clear</md-button>
    	</div>
		</md-sidenav>
		<!-- FILTER SIDENAV -->
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="filterNav">
		  <md-toolbar class="md-accent">
		  	<div class="md-toolbar-tools">
			    <h1 class="md-toolbar-tools">Filters</h1>
			    <span flex></span>
	        <md-button ng-click="close('filterNav')" class="md-icon-button" aria-label="Close">
	          <md-icon>close</md-icon>
	          <md-tooltip>
		        	Close
		      	</md-tooltip>
	        </md-button>
	      </div>
		  </md-toolbar>
		  <md-content layout-padding>
				<section layout="row" layout-align="center center">
				  <md-input-container flex>
			      <label>Min CR</label>
			      <input ng-model="creatureFilter.challengeRating.min.value" ng-change="creatureFilter.challengeRating.changed(creatureFilter.challengeRating.min)" step="{{creatureFilter.challengeRating.min.step}}" type="number" min="0" max="30"/>
			    </md-input-container>
			    <md-input-container flex>
			      <label>Max CR</label>
			      <input ng-model="creatureFilter.challengeRating.max.value" ng-change="creatureFilter.challengeRating.changed(creatureFilter.challengeRating.max)" step="{{creatureFilter.challengeRating.max.step}}" type="number" min="0" max="30"/>
			    </md-input-container>
			  </section>
				<section ng-repeat="filter in creatureFilter.filters track by $index" layout="column" layout-align="center top" ng-class="{'and-filter':creatureFilter.fillBackground(true,$index)}" style="padding: 0px;">
					<div layout="row" ng-class="{'and-filter':creatureFilter.fillBackground(false,$index)}">
				    <md-input-container style="width:calc(100% - 16px);margin-left:6px;">
			        <label>Filter by name, faction, or environment</label>
			        <input ng-model="filter.text">
			      </md-input-container>
			      <button ng-click="creatureFilter.removeFilter($index)" class="md-primary remove-saving-throw" style="margin-top:25px;margin-left:4px;margin-right:6px;">
		          <md-icon md-svg-icon="md-close"></md-icon>
		        </button>
		      </div>
		      <div ng-if="!$last" layout="row" layout-align="center center">
		      	<md-button ng-click="filter.toggleOperator()" aria-label="Toggle And/Or Operator">
		      		{{filter.operator.toUpperCase()}}
		      	</md-button>
		      </div>
		    </section>
	      <section layout="row" layout-align="start center">
	      	<md-button ng-click="creatureFilter.resetFilters()" class="md-raised" aria-label="Reset Filters">Reset Filters</md-button>
	      	<md-button ng-click="creatureFilter.addFilter()" class="md-raised md-primary" aria-label="Add Filter">Add Filter</md-button>
	      </section>
		  </md-content>
		</md-sidenav>
		<!-- MENU SIDENAV -->
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="menuNav">
		  <md-toolbar class="md-accent">
		  	<div class="md-toolbar-tools">
			    <h1 class="md-toolbar-tools">Menu</h1>
			    <span flex></span>
	        <md-button ng-click="close('menuNav')" class="md-icon-button" aria-label="Close">
	          <md-icon>close</md-icon>
	        </md-button>
	      </div>
		  </md-toolbar>
	  	<md-list>
	  		<md-list-item ng-click="copyBestiary()" ng-if="canInteract()">
	  			<md-icon style="margin-bottom:16px">content_copy</md-icon>
	  			<p>Copy</p>
	 			</md-list-item>
	 			<md-list-item ng-click="toggleExclusive('filterNav');">
	  			<md-icon style="margin-bottom:16px">filter_list</md-icon>
	  			<p>Filter</p>
	 			</md-list-item>
	 			<md-list-item ng-click="close('menuNav');editPublishedBestiary($event);" ng-if="isOwner()">
	  			<md-icon style="margin-bottom:16px">mode_edit</md-icon>
	  			<p>Edit</p>
	 			</md-list-item>
	 			<md-list-item ng-click="close('menuNav');deletePublishedBestiary($event);" ng-if="isOwner()">
	  			<md-icon style="margin-bottom:16px">delete</md-icon>
	  			<p>Delete</p>
	 			</md-list-item>
	  	</md-list>
		</md-sidenav>
	</section>
</div>
