
<md-dialog aria-label="Forgot Password" ng-cloak>
  <form name="forgotForm" ng-submit="resetPassword()" style="width:400px;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Reset Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon style="font-size:24px;height:24px;width:24px;">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="padding:40px 10px 0px 10px;">
	    <md-input-container class="md-block">
	      <label>Email</label>
	      <input required type="email" name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" compare-not="user.invalidEmail">
	      <div ng-messages="forgotForm.email.$error">
	        <div ng-message="pattern">
	          Your email must look like an email address.
	        </div>
	        <div ng-message="required">
	          This is required.
	        </div>
	        <div ng-message="compareNot">
	          Email address does not exist.
	        </div>
	      </div>
	    </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    	<md-button type="submit" ng-disabled="forgotForm.$invalid" class="md-raised md-button md-primary">Reset Password</md-button>
  	</md-dialog-actions>

  </form>
</md-dialog>
