
<md-toolbar class="md-whiteframe-5dp inner-header">
	<div class="md-toolbar-tools">
		<h2 style="margin-left:6px;">
			<span>Change Password</span>
		</h2>
	</div>
</md-toolbar>


<div layout="column" class="body-area" ng-controller="sideNavCtrl">
	<md-content layout-padding="">
	  <form name="signupForm" ng-submit="updateUser()">

	    <md-input-container class="md-block">
	      <label>Current Password</label>
	      <input required type="password" name="currentPassword" ng-model="user.currentPassword" compare-not="user.invalidPassword">
	      <div ng-messages="signupForm.currentPassword.$error">
	        <div ng-message="required">
	          This is required.
	        </div>
	        <div ng-message="compareNot">
	          Invalid password.
	        </div>
	      </div>
	    </md-input-container>
	    <md-input-container class="md-block">
	      <label>New Password</label>
	      <input required type="password" name="password" ng-model="user.password" minlength="6">
	      <div ng-messages="signupForm.password.$error">
	        <div ng-message="minlength">
	          Your password must be at least 6 characters long.
	        </div>
	        <div ng-message="required">
	          This is required.
	        </div>
	      </div>
	    </md-input-container>
	    <md-input-container class="md-block">
	      <label>Confirm New Password</label>
	      <input required type="password" name="confirmPassword" ng-model="user.confirmPassword" compare-to="user.password">
	      <div ng-messages="signupForm.confirmPassword.$error">
	        <div ng-message="compareTo">
	          This must match your password.
	        </div>
	        <div ng-message="required">
	          This is required.
	        </div>
	      </div>
	    </md-input-container>
	    <md-button type="submit" ng-disabled="signupForm.$invalid" class="md-raised md-button md-primary">Update</md-button>
    </form>
  </md-content>
</div>
