
<md-toolbar class="md-whiteframe-5dp inner-header md-menu-toolbar" layout-align="center center">
	<div ng-controller="sideNavCtrl" class="md-toolbar-tools controls">
		<h2 style="margin-left:0px;">
			<span><b>About</b></span>
		</h2>
	</div>
</md-toolbar>

<div layout="column" class="body-area" ng-controller="sideNavCtrl">
	<!-- HOME PAGE -->
	<md-content layout="row" layout-align="center start" class="background bg-color-primary-light text-color-content">
		<section layout="column" layout-align="center start" style="height:auto;" class="background content-section bg-color-primary-light text-color-content">
			<section layout="row" layout-align="center start" style="width:100%;" class="background bg-color-primary-light text-color-content">
				<md-content layout="column" layout-align="center start" style="padding:23px;" class="background content-section text-color-content about-page">
					<p>
						CritterDB is a web application built to help game masters find and create custom creatures and NPCs for the 5th edition of the world's greatest role playing game, right from your browser. After being frustrated by how time-consuming it was to create stat blocks for my own creatures I started searching around for a tool to help. Surprisingly, very few options existed, so I set out to create my own. The goal of CritterDB is to increase the quality of our creations, while also saving a ton of time by using CritterDB's easy guided creation system and by sharing our custom critters with each other.
					</p>
					<img layout="row" src="/assets/img/about/bestiary-view.jpg" alt="Bestiary Creation"/>
					<p>
						On the <a href="/">home page</a> you can browse through recent and featured bestiaries where you may find inspiration for your next fight or even an entire adventure.
					</p>
					<img layout="row" src="/assets/img/about/home-page.jpg" alt="Home Page"/>
					<p>
						CritterDB uses a step-by-step method for creating your custom creatures that gives you the power to customize every field while also supplying automated generators that will save you time and turn all of your creations into professional designs.
					</p>
					<img layout="row" src="/assets/img/about/create-creature.jpg" alt="Creature Creation"/>
					<p>
						If you want to create your own creatures head over to the <a href="/#/signup">sign up page</a> to complete the simple sign up form. Sign up is required so that your creatures can be saved in the cloud, but it is really quick and easy - I promise!
					</p>
					<img layout="row" src="/assets/img/about/sign-up.jpg" alt="Sign Up" style="max-width:300px;"/>
					<p>
						Once you have an account, you can create new creatures and they will be saved for you in the cloud for easy access from your mobile or desktop browser - even in the middle of a session!
					</p>
					<img layout="row" src="/assets/img/about/filter-bestiary.jpg" alt="Filter Bestiary"/>
					<p>
						You can even tag your favorite published bestiaries so that you can easily access them from your account in the future.
					</p>
					<img layout="row" src="/assets/img/about/favorite-bestiary.jpg" alt="Favorite Bestiary"/>
					<h1>Feedback & Contributing</h1>
					<p>
						<a href="https://github.com/haswellr/CritterDB">CritterDB is on GitHub</a>. Please submit issues there, or if you are so inclined, fork the project and help out!
					</p>
					<p>
						You can also submit feedback to me directly by email at <a href="mailto:haswellrd@gmail.com">haswellrd@gmail.com</a>.
					</p>
					<h1>Contact</h1>
					<p>
						You can contact me by email at <a href="mailto:haswellrd@gmail.com">haswellrd@gmail.com</a>.
					</p>
				</md-content>
			</section>
		</md-content>
	</md-content>
</div>