<form name="flavorForm">
  <section layout="row" layout-align="start center" flex>
    <md-input-container flex>
      <label>Name</label>
      <input ng-model="creature.name" name="name" type="text" required/>
      <div ng-messages="flavorForm.name.$error" md-auto-hide="false">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-checkbox ng-model="creature.flavor.nameIsProper" aria-label="Name is pronoun" style="margin-left:10px;margin-right:10px;">
      Proper Noun?
      <md-tooltip md-direction="down">
        Is this name a proper noun such as 'Jane' or 'The Goblin King'?
      </md-tooltip>
    </md-checkbox>
  </section>
  <section layout="row" flex>
    <md-input-container flex>
      <label>Description</label>
      <textarea ng-model="creature.flavor.description"></textarea>
    </md-input-container>
  </section>
  <section layout="row" flex>
    <md-input-container flex>
      <label>Environment</label>
      <input ng-model="creature.flavor.environment" type="text"/>
    </md-input-container>
    <md-input-container flex>
      <label>Faction</label>
      <input ng-model="creature.flavor.faction" type="text"/>
    </md-input-container>
    <md-input-container flex>
      <label>Alignment</label>
      <md-select ng-model="creature.stats.alignment">
        <md-option ng-repeat="alignment in creatureData.alignments" value="{{alignment}}">
          {{alignment}}
        </md-option>
      </md-select>
    </md-input-container>
  </section>
</form>