<form name="raceForm">
  <section layout="row" flex>
    <md-autocomplete flex
        md-search-text="creature.stats.race"
        md-items="race in searchArray(creature.stats.race,creatureData.races)"
        md-item-text="race"
        md-floating-label="Race">
      <md-item-template>
        <span>{{race}}</span>
      </md-item-template>
    </md-autocomplete>
    <md-input-container flex>
      <label>Size</label>
      <md-select ng-model="creature.stats.size">
        <md-option ng-repeat="size in creatureData.sizes" value="{{size}}">
          {{size}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex>
      <label>Speed</label>
      <input ng-model="creature.stats.speed" type="text"/>
    </md-input-container>
  </section>
  <section layout="row" flex style="margin-top:-23px;margin-bottom:46px;">
    <md-chips ng-model="creature.stats.senses" md-autocomplete-snap md-require-match="false" style="width:100%;">
      <md-autocomplete
          md-search-text="creature.stats.sensesSearch"
          md-items="sense in searchArray(creature.stats.sensesSearch,creatureData.senses,true)"
          md-item-text="sense"
          placeholder="Senses">
        <span md-highlight-text="creature.stats.sensesSearch">{{sense}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <em>{{$chip}}</em>
        </span>
      </md-chip-template>
    </md-chips>
  </section>
  <section layout="row" flex style="margin-bottom:45px;">
    <md-chips ng-model="creature.stats.languages" md-autocomplete-snap md-require-match="false" style="width:100%;">
      <md-autocomplete
          md-search-text="creature.stats.languagesSearch"
          md-items="language in searchArray(creature.stats.languagesSearch,creatureData.languages,true)"
          md-item-text="language"
          placeholder="Languages">
        <span md-highlight-text="creature.stats.languagesSearch">{{language}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <em>{{$chip}}</em>
        </span>
      </md-chip-template>
    </md-chips>
  </section>
</form>
