<form name="abilitiesForm" class="stats-form">

  <section class="subsection" layout="row" layout-align="center center" layout-wrap>
    <div layout="row" style="height:50px;" class="controls">
      <md-button ng-click="abilities.addToList(creature.stats.actions)" class="md-raised">
        Add Action
      </md-button>
      <md-button ng-click="generateAttack($event)" class="md-raised" style="height:38px;">
          Generate Attack
      </md-button>
    </div>
    <div ng-repeat="ability in creature.stats.actions" class="saving-throw-row" style="height:auto;">
      <section layout="row" style="width:100%;">
        <div layout="column" class="move-controls">
          <md-button ng-click="abilities.moveUp(ability,creature.stats.actions)" ng-disabled="!abilities.canMoveUp(ability,creature.stats.actions)" class="md-icon-button" aria-label="Move Up">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
          <md-button ng-click="abilities.moveDown(ability,creature.stats.actions)" ng-disabled="!abilities.canMoveDown(ability,creature.stats.actions)" class="md-icon-button" aria-label="Move Up">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
        </div>
        <div layout="column" layout-gt-sm="row" style="width:100%;">
          <md-input-container flex>
            <label>Name</label>
            <input ng-model="ability.name" type="text"/>
          </md-input-container>
          <md-input-container flex>
            <label>Description</label>
            <textarea ng-model="ability.description" type="text"></textarea>
          </md-input-container>
        </div>
        <div layout="column">
          <button ng-click="abilities.removeFromList(ability,creature.stats.actions)" class="md-primary remove-saving-throw">
            <md-icon md-svg-icon="md-close"></md-icon>
          </button>
        </div>
      </section>
    </div>
    <div class="label">Actions</div>
  </section>

  <br />

  <section class="subsection" layout="row" layout-align="center center" layout-wrap>
    <div layout="row" style="height:50px;" class="controls">
      <md-button ng-click="abilities.addToList(creature.stats.reactions)" class="md-raised">Add Reaction</md-button>
    </div>
    <div ng-repeat="ability in creature.stats.reactions" class="saving-throw-row" style="height:auto;">
      <section layout="row" style="width:100%;">
        <div layout="column" class="move-controls">
          <md-button ng-click="abilities.moveUp(ability,creature.stats.reactions)" ng-disabled="!abilities.canMoveUp(ability,creature.stats.reactions)" class="md-icon-button" aria-label="Move Up">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
          <md-button ng-click="abilities.moveDown(ability,creature.stats.reactions)" ng-disabled="!abilities.canMoveDown(ability,creature.stats.reactions)" class="md-icon-button" aria-label="Move Up">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
        </div>
        <div layout="column" layout-gt-sm="row" style="width:100%;">
          <md-input-container flex>
            <label>Name</label>
            <input ng-model="ability.name" type="text"/>
          </md-input-container>
          <md-input-container flex>
            <label>Description</label>
            <textarea ng-model="ability.description" type="text"></textarea>
          </md-input-container>
        </div>
        <div layout="column">
          <button ng-click="abilities.removeFromList(ability,creature.stats.reactions)" class="md-primary remove-saving-throw">
            <md-icon md-svg-icon="md-close"></md-icon>
          </button>
        </div>
      </section>
    </div>
    <div class="label">Reactions</div>
  </section>

  <br />

  <section class="subsection" layout="row" layout-align="center center" layout-wrap>
    <div layout="row" style="height:50px;" class="controls">
      <md-button ng-click="abilities.addToList(creature.stats.additionalAbilities)" class="md-raised">Add Ability</md-button>
      <md-button ng-click="generateSpellcasting($event)" class="md-raised" style="height:38px;">
          Generate Spellcasting
      </md-button>
    </div>
    <div ng-repeat="ability in creature.stats.additionalAbilities" class="saving-throw-row" style="height:auto;">
      <section layout="row" style="width:100%;">
        <div layout="column" class="move-controls">
          <md-button ng-click="abilities.moveUp(ability,creature.stats.additionalAbilities)" ng-disabled="!abilities.canMoveUp(ability,creature.stats.additionalAbilities)" class="md-icon-button" aria-label="Move Up">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
          <md-button ng-click="abilities.moveDown(ability,creature.stats.additionalAbilities)" ng-disabled="!abilities.canMoveDown(ability,creature.stats.additionalAbilities)" class="md-icon-button" aria-label="Move Up">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
        </div>
        <div layout="column" layout-gt-sm="row" style="width:100%;">
          <md-autocomplete flex
              md-search-text="ability.name"
              md-selected-item-change="abilities.changed(ability)"
              md-search-text-change="abilities.changed(ability)"
              md-items="creatureAbility in searchAbilities(ability.name)"
              md-item-text="creatureAbility.name"
              md-floating-label="Name">
            <md-item-template>
              <span>{{creatureAbility.name}}</span>
            </md-item-template>
          </md-autocomplete>
          <md-input-container flex>
            <label>Description</label>
            <textarea ng-model="ability.description" type="text"></textarea>
          </md-input-container>
        </div>
        <div layout="column">
          <button ng-click="abilities.removeFromList(ability,creature.stats.additionalAbilities)" class="md-primary remove-saving-throw">
            <md-icon md-svg-icon="md-close"></md-icon>
          </button>
        </div>
      </section>
    </div>
    <div class="label">Abilities</div>
  </section>

  <br />

  <section class="subsection" layout="row" layout-align="center center" layout-wrap>
    <div layout="row" style="height:50px;" class="controls">
      <md-button ng-click="addLegendaryAction()" class="md-raised">Add Action</md-button>
    </div>
    <div ng-if="creature.stats.legendaryActions.length>0" class="saving-throw-row" style="height:auto;">
      <md-input-container flex style="width:100%">
        <label>Description</label>
        <textarea ng-model="creature.stats.legendaryActionsDescription" type="text"></textarea>
      </md-input-container>
    </div>
    <div ng-repeat="ability in creature.stats.legendaryActions" class="saving-throw-row" style="height:auto;">
      <section layout="row" style="width:100%;">
        <div layout="column" class="move-controls">
          <md-button ng-click="abilities.moveUp(ability,creature.stats.legendaryActions)" ng-disabled="!abilities.canMoveUp(ability,creature.stats.legendaryActions)" class="md-icon-button" aria-label="Move Up">
            <md-icon>keyboard_arrow_up</md-icon>
          </md-button>
          <md-button ng-click="abilities.moveDown(ability,creature.stats.legendaryActions)" ng-disabled="!abilities.canMoveDown(ability,creature.stats.legendaryActions)" class="md-icon-button" aria-label="Move Up">
            <md-icon>keyboard_arrow_down</md-icon>
          </md-button>
        </div>
        <div layout="column" layout-gt-sm="row" style="width:100%;">
          <md-input-container flex>
            <label>Name</label>
            <input ng-model="ability.name" type="text"/>
          </md-input-container>
          <md-input-container flex>
            <label>Description</label>
            <textarea ng-model="ability.description" type="text"></textarea>
          </md-input-container>
        </div>
        <div layout="column">
          <button ng-click="abilities.removeFromList(ability,creature.stats.legendaryActions)" class="md-primary remove-saving-throw">
            <md-icon md-svg-icon="md-close"></md-icon>
          </button>
        </div>
      </section>
    </div>
    <div class="label">Legendary Actions</div>
  </section>

  <br />
</form>
