<form name="challengeForm">
	<section class="subsection" layout="row" layout-align="center center" layout-wrap>
		<div layout="row" class="calculate-challenge-rating-row" class="controls">
			<md-button ng-click="showCRTable=!showCRTable" class="md-raised" style="height:38px;">
					Challenge Rating Table
			</md-button>
			<md-button ng-click="calculateChallengeRating($event)" class="md-raised" style="height:38px;">
					Calculate Challenge Rating
			</md-button>
		</div>
		<div ng-show="showCRTable" layout="row" class="challenge-rating-table">
			<md-table-container>
				<table md-table>
					<thead md-head>
						<tr md-row>
							<th md-column>CR</th>
							<th md-column>Prof. Bonus</th>
							<th md-column>Armor Class</th>
							<th md-column>Hit Points</th>
							<th md-column>Attack Bonus</th>
							<th md-column>Damage per Round</th>
							<th md-column>Save DC</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="crData in creatureData.challengeRatingArray | orderBy: 'cr'">
							<td md-cell>{{crData.cr}}</td>
							<td md-cell>{{crData.proficiencyBonus}}</td>
							<td md-cell>{{crData.armorClass}}</td>
							<td md-cell>{{crData.hitPoints.min}} - {{crData.hitPoints.max}}</td>
							<td md-cell>{{crData.attackBonus}}</td>
							<td md-cell>{{crData.damage.min}} - {{crData.damage.max}}</td>
							<td md-cell>{{crData.saveDC}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</div>
		<div layout="row" class="challenge-rating-row">
			<md-input-container flex>
				<label>Challenge Rating</label>
				<input ng-model="creature.stats.challengeRating" ng-change="challengeRating.changed()" step="{{challengeRating.step}}" type="number" min="0" max="30"/>
			</md-input-container>

			<md-input-container flex>
				<label>Experience Points</label>
				<input ng-model="creature.stats.experiencePoints" type="number" min="0"/>
			</md-input-container>
		</div>
	</section>
</form>