<form name="abilitiesForm" class="stats-form">

  <section class="subsection" layout="row" layout-align="center center" layout-wrap>
    <div layout="row" style="height:50px;">
      <md-button ng-click="abilities.addToList(creature.stats.actions)" class="md-raised">Add Action</md-button>
      <md-menu style="padding:0px;">
        <md-button ng-click="$mdOpenMenu($event)" class="md-raised" style="height:38px;">
          Generate
          <md-icon>arrow_drop_down</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="generateAttack($event)">
              <md-icon md-svg-src="/assets/img/icons/battered-axe.svg" style="opacity:0.87;"></md-icon>
              Generate Attack
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="generateSpellcasting($event)">
              <md-icon md-svg-src="/assets/img/icons/scroll-unfurled.svg" style="opacity:0.87;"></md-icon>
              Generate Spellcasting
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div ng-repeat="ability in creature.stats.actions" class="saving-throw-row" style="height:auto;">
      <section layout="row" style="width:100%;">
        <md-input-container flex>
          <label>Name</label>
          <input ng-model="ability.name" type="text"/>
        </md-input-container>
        <md-input-container flex>
          <label>Description</label>
          <textarea ng-model="ability.description" type="text"></textarea>
        </md-input-container>
        <button ng-click="abilities.removeFromList(ability,creature.stats.actions)" class="md-primary remove-saving-throw">
          <md-icon md-svg-icon="md-close"></md-icon>
        </button>
      </section>
    </div>
    <div class="label">Actions</div>
  </section>

  <br />

  <section class="subsection" layout="row" layout-align="center center" layout-wrap>
    <div layout="row" style="height:50px;">
      <md-button ng-click="abilities.addToList(creature.stats.reactions)" class="md-raised">Add Reaction</md-button>
    </div>
    <div ng-repeat="ability in creature.stats.reactions" class="saving-throw-row" style="height:auto;">
      <section layout="row" style="width:100%;">
        <md-input-container flex>
          <label>Name</label>
          <input ng-model="ability.name" type="text"/>
        </md-input-container>
        <md-input-container flex>
          <label>Description</label>
          <textarea ng-model="ability.description" type="text"></textarea>
        </md-input-container>
        <button ng-click="abilities.removeFromList(ability,creature.stats.reactions)" class="md-primary remove-saving-throw">
          <md-icon md-svg-icon="md-close"></md-icon>
        </button>
      </section>
    </div>
    <div class="label">Reactions</div>
  </section>

  <br />

  <section class="subsection" layout="row" layout-align="center center" layout-wrap>
    <div layout="row" style="height:50px;">
      <md-button ng-click="abilities.addToList(creature.stats.additionalAbilities)" class="md-raised">Add Ability</md-button>
    </div>
    <div ng-repeat="ability in creature.stats.additionalAbilities" class="saving-throw-row" style="height:auto;">
      <section layout="row" style="width:100%;">
        <md-input-container flex>
          <label>Name</label>
          <input ng-model="ability.name" type="text"/>
        </md-input-container>
        <md-input-container flex>
          <label>Description</label>
          <textarea ng-model="ability.description" type="text"></textarea>
        </md-input-container>
        <button ng-click="abilities.removeFromList(ability,creature.stats.additionalAbilities)" class="md-primary remove-saving-throw">
          <md-icon md-svg-icon="md-close"></md-icon>
        </button>
      </section>
    </div>
    <div class="label">Abilities</div>
  </section>

  <br />

  <section class="subsection" layout="row" layout-align="center center" layout-wrap>
    <div layout="row" style="height:50px;">
      <md-button ng-click="abilities.addToList(creature.stats.legendaryActions)" class="md-raised">Add Action</md-button>
    </div>
    <div ng-repeat="ability in creature.stats.legendaryActions" class="saving-throw-row" style="height:auto;">
      <section layout="row" style="width:100%;">
        <md-input-container flex>
          <label>Name</label>
          <input ng-model="ability.name" type="text"/>
        </md-input-container>
        <md-input-container flex>
          <label>Description</label>
          <textarea ng-model="ability.description" type="text"></textarea>
        </md-input-container>
        <button ng-click="abilities.removeFromList(ability,creature.stats.legendaryActions)" class="md-primary remove-saving-throw">
          <md-icon md-svg-icon="md-close"></md-icon>
        </button>
      </section>
    </div>
    <div class="label">Legendary Actions</div>
    <md-input-container ng-if="creature.stats.legendaryActions.length>0" class="sub-number" flex>
      <label>Per Round</label>
      <input ng-model="creature.stats.legendaryActionsPerRound" min="1" type="number"/>
    </md-input-container>
  </section>

  <br />
</form>
