<md-toolbar class="md-whiteframe-5dp inner-header md-menu-toolbar" layout-align="center center">
	<div ng-controller="sideNavCtrl" class="md-toolbar-tools controls">
		<md-button hide-gt-sm ng-click="returnToBestiary()" class="md-icon-button md-mini" aria-label="Back">
			<md-icon>keyboard_backspace</md-icon>
			<md-tooltip>
        Back
      </md-tooltip>
		</md-button>
		<h2 style="max-width:75%;">
			<span hide show-gt-sm>
				<span ng-click="goToBestiaryList()" style="cursor:pointer;">My Bestiaries</span>
				<span> > </span>
				<span ng-click="returnToBestiary()" style="cursor:pointer;">{{creature.bestiary.name}}</span>
				<span> > </span>
			</span>
			<b>{{creature.name}}</b>
		</h2>
	</div>
</md-toolbar>

<div layout="column" layout-align="top center" class="body-area">
	<section layout="column" flex class="content-section md-whiteframe-3dp" style="overflow-y:auto;overflow-x:hidden;">
		<div hide-gt-sm layout="row" style="width:100%;" class="save-image-stat-block" layout-align="start center">
			<md-content class="content-section" layout-padding ng-style="getStatBlockStyle()">
				<div id="stat-block">
					<ng-stat-block creature="creature" stat-block-style="getBackgroundStyle()"></ng-stat-block>
				</div>
			</md-content>
		</div>
		<div layout="row" style="width:100%;margin-top:20px;" layout-align="start center">
			<div hide show-gt-sm layout="column">
				<md-content class="content-section" layout-padding ng-style="getStatBlockStyle()">
					<div id="stat-block">
						<ng-stat-block creature="creature" stat-block-style="getBackgroundStyle()"></ng-stat-block>
					</div>
				</md-content>
			</div>
			<div layout="column" layout-align="center center" style="width:100%;display:inline-block;">
				<md-checkbox ng-model="image.background" aria-label="Show Background" style="margin-left:10px;margin-right:10px;margin-bottom:10px;margin-top:10px;">
	        Show Background
	      </md-checkbox>
				<md-checkbox ng-if="image.background" ng-model="image.border" aria-label="Show Background" style="margin-left:10px;margin-right:10px;margin-bottom:10px;margin-top:10px;">
	        Show Border
	      </md-checkbox>
				<md-button ng-click="saveImage()" class="md-raised md-primary">Save Image</md-button>
			</div>
		</div>
		<md-content layout="row" class="content-section create-creature-area"  style="margin: 16px; padding:16px;width:calc(100% - 32px);padding-bottom:42px;display:block;overflow-y:hidden;">
			<md-slider-container layout="row" style="width:100%;">
	      <span style="margin-right:16px;min-width:25px;max-width:42px;height:25px;margin-top:14px;">Width</span>
	      <md-slider flex min="250" max="800" ng-model="image.width" aria-label="width" id="width-slider">
	      </md-slider>
	      <md-input-container style="max-width:67px;margin-left:16px;min-width:25px;height:25px;margin-top:11px;">
	        <input style="text-align:center;padding-left:15px;height:50px;margin-top:-25px;" flex type="number" ng-model="image.width" aria-label="width" aria-controls="width-slider">
	      </md-input-container>
	    </md-slider-container>
		</md-content>
	</section>
</div>
