<h1>Bestiary: {{bestiary.name}}</h1>
<input ng-model="creatureFilter" type="text"></input>
<p></p>
<div>
	<ng-stat-block size="preview" ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" style="float:left;display:block;"></ng-stat-block>
	<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" style="float:left;display:block;"></ng-stat-block>
	<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" style="float:left;display:block;"></ng-stat-block>
	<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" style="float:left;display:block;"></ng-stat-block>
	<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" style="float:left;display:block;"></ng-stat-block>
</div>