
<md-toolbar class="md-whiteframe-5dp inner-header">
	<div ng-controller="sideNavCtrl" class="md-toolbar-tools">
		<md-button ng-click="toggle('filterNav')" class="md-fab md-mini" aria-label="Filters">
			<md-icon>filter_list</md-icon>
		</md-button>
		<md-button ng-click="toggle('editNav')" class="md-fab md-mini" aria-label="Filters">
			<md-icon>mode_edit</md-icon>
		</md-button>
		<h2>
			<span>{{bestiary.name}}</span>
		</h2>
	</div>
</md-toolbar>

<div layout="column" class="body-area" ng-controller="sideNavCtrl">
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left md-whiteframe-z2 in-frame-sidenav" md-is-locked-open="isOpen('filterNav')" md-component-id="filterNav">
		  <md-toolbar class="md-accent">
		    <h1 class="md-toolbar-tools">Sidenav Left</h1>
		  </md-toolbar>
		  <md-content layout-padding>
		    <md-button ng-click="close('filterNav')" class="md-primary" hide-gt-md>
		      Close Sidenav Left
		    </md-button>
		    <input ng-model="creatureFilter" type="text"></input>
		  </md-content>
		</md-sidenav>

		<md-content>
			<div class="fallingColumns">
				<div ng-repeat="creature in bestiary.creatures | filter:creatureFilter" style="position:relative;">
					<div class="stat-block-overlay"></div>
					<ng-stat-block size="mini" creature="creature" class="fallingColumnsItem stat-block"></ng-stat-block>
				</div>
				<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" class="fallingColumnsItem stat-block"></ng-stat-block>
				<ng-stat-block size="preview" ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" class="fallingColumnsItem"></ng-stat-block>
				<ng-stat-block size="mini" ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" class="fallingColumnsItem"></ng-stat-block>
				<ng-stat-block size="preview" ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" class="fallingColumnsItem"></ng-stat-block>
				<ng-stat-block ng-repeat="creature in bestiary.creatures | filter:creatureFilter" creature="creature" class="fallingColumnsItem"></ng-stat-block>
			</div>
		</md-content>
	</section>
</div>
